@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>

<p>Ho va ten: Ha Quoc Thanh.</p>
<p>Ma sinh vien : 2210900067.</p>
<p>lop: K22cnt2.</p>
<p>email: haquocthahnb@gmail.com.</p>
